:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;;
    --lightColor-2: #000000;;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
    background-image: url(img/11-2024/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

h1{
    font-size: 4.0rem;
    margin: 1.7rem 0;
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}

h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

span{
    color:var(--primaryColor) ;
}

p{
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

/*-----------------------------home section----------------*/

.home{    
    width: 100%;
    height: 100vh;
    background-color:var(--bgColor-1) ;
    display: flex;
    flex-direction: column ;
}

nav{
    padding-top: 2.8rem;
    padding-left:var(--padding) ;
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    color:var(--lightColor);
    text-decoration: none;
    text-transform:capitalize ;
    transition: 0.4s;
}

nav ul li :hover{
    color:var(--primaryColor) ;
}


.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}




.content{
    background-image: url(../img/11-2024/12.jpg);
    background-image: url(../img/11-2024/1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;

    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content1{
    background-image: url(../img/11-2024/12.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;

    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-texts1{
    background-color: #0000003c;
    position: relative;
    bottom: 47px;
    text-align: center;
    margin-right: 63px;
}

.container-texts{
    background-color: #0000003c;
    position: relative;
    bottom: 70px;
}


.social{
    margin-top: 3.5rem;
}

.social{
    text-decoration: none;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.home .container-images{
    width: 100%;
    height: 80%;
    position: relative;
    align-self: flex-end;
}

.home .container-images img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform:translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape{
    bottom: 20px;
    left: 70%;
}

.home .container-images:hover .pic{
    left: 10%;
}

/*-----------------------------about section----------------*/

.about{
    background-color: var(--bgColor-2);
    background-image: url(../img/11-2024/5-55.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.about .container-images{
    width: 40%;
}

.about .container-images img{
    width: 90%;
}

.about .container-texts2{
    width: 49%;
    text-align: center;
    margin-top: 10px;

    
}

.about .container-texts2 div{
    margin-top: 35px;
}
.about .container-texts{
    width: 40%;
    text-align: center;

    
}

.services{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 0rem 0rem;
    text-align: center;
}

.card em{
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}
.ph1{
    width: 300px;
     height:350px;
     border-radius: 20px;
}

/*-----------------------------skills section----------------*/

.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-images{
    width: 35%;
}

.skills .container-images img{
    width: 90%;
}

.skills .container-skills{
    width: auto;
    text-align: center;
}
.content-skills{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 150px;
    height: 150px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/*-----------------------------footer section----------------*/

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p{
    color: var(--primaryColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end{
    color: var(--primaryColor);
    margin-top: 1rem;
}



/*-----------------------------id----------------*/

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transform: 0.4s;
    margin-bottom: 5px;

}

#menu.is-active spen:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active spen:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active spen:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primaryColor);
}

/*-----------------------------Media Queries----------------*/




@media screen and (max-width: 575px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: -26px;
        left: 0;
        width: 100vw;
        height: 56vh;
        background: #000000e3
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts1{
        bottom: 0em;
        background-color: #312c2c62;
        text-align: center;
        margin-block-start: 70px;
        margin-right: -1px;
    }
    .container-texts{
        bottom: 0em;
        background-color: #312c2c62;
        text-align: center;
    }

    .social{
        margin-top: 30px;
        margin-left: 25px;
    }

    h3{
        margin-bottom: 20px;
    }

    #menu{
        display: block;
    }
    .content{
        background-image: url(../img/11-2024/12.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: top; 
    
        flex-grow: 1;
        padding: 0 var(--padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about .container-images{
        display: none;
    }

    .about .container-texts2{
        width: 100%;
        text-align: center;
        margin-top: -35px;
    }
    .about .container-texts2 h1{
        font-size: 3.0rem;
        margin: 1.7rem 0;
    }
    .about .container-texts2 h5{
        font-size: 2rem;
        margin-bottom: 1rem;
        letter-spacing: -1px;
    }
    .about .container-texts2 div{
        margin-top: 20px;
    }


    .about .container-texts{
        width: 100%;
        text-align: center;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .card{
        width: 332px;
        background-color: var(--bgColor-2);
        border-radius: 20px;
        padding: 0rem 0rem;
        text-align: center;



    }
    .ph1{
        width: 340px;
         height:350px;
         border-radius: 20px;
    }
    .content-skills {
        display: flex;
        flex-wrap: wrap;
        margin-left: 65px;}


    .skills .container-images{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .container-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .skill{
        width: 60px;
        height: 60px;
    }


    .skill img{
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    footer .content-footer p{
        width: 100%;
    }
}


@media screen and (min-width: 576px) and (max-width: 767px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    .content{
        padding-top: 82px;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0em;
    }

    .social{
        margin-top: 30px;
    }

    h3{
        margin-bottom: 30px;
    }

    #menu{
        display: block;
    }

    .about .container-images{
        display: none;
    }

    .about .container-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .container-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 50px;
        height: 50px;
    }

    footer .content-footer p{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0em;
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menu{
        display: block;
    }

    .about .container-images{
        display: none;
    }

    .about .container-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .container-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 50px;
        height: 50px;
    }

    footer .content-footer p{
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px){
    :root{
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images img{
        height: auto;
        width: 100%;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0em;
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menu{
        display: block;
    }


    .about .container-texts{
        width: 60%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-skills{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .container-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill{
        width: 50px;
        height: 50px;
    }

    footer .content-footer p{
        width: 100%;
    }
}
