:root{
    --bgcolor:#beb8ac;
    --blue:#2fb7fe;
    --blacr:#3D3f42;
    --white:#f4f7ff;
    --gray:#d8dce4;
    --lightgray:#8e9095;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: var(--bgcolor);
}

.clearfix{
    clear: both;
}

.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3D3f4238;
}
.left-section{
    background: var(--blacr);
    width: 200px;
    height: 1000px;
    float: left;
}
.profile{
    overflow: hidden;
    position: relative;
}
.blue-box{
    width: 200px;
    height: 500px;
    background: var(--blue);
    margin-left: -100px;
    transform: rotateZ(48deg);
    margin: -155px;
}
.profile-img{
    position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid var(--gray);
 }
 .name{
    color: var(--gray);
    text-align: center;
    margin-top: -34px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
 }
 .name span{
    color: var(--blue);
 }
 .n-p{
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid  var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
 }
 .info{
    margin-top: 50px;
 }
 .heading{
    width: 180px;
    margin: 0 auto;
 /*--   text-align: center;  --*/
    padding: 2px;
    border-bottom: 1px solid  var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
 }
 .p1{
    color: var(--gray);
    width: 184px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 15px;
    line-height: 14px;
 }
 .p1 span{
    font-size: 12px;
 }
 .span img{
    background: white;
    width: 30px;
    padding: 6px;
    border-radius: 16px;
    float: left;
    margin-right: 10px;
 }
 .right-section{
    padding: 40px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
 }
 .right-section img{
    background: var(--blacr) ;
    width: 36px;
    padding: 7px;
    border-radius: 17px;
    float: left;
    display: inline-block;
    margin-top: -6px;
 }